*{
        padding: 0;
        margin : 0;
}

body{
      background-size: cover;
}

header{

    background-color: black;
    height: 7em;
      }

img{
    margin-left: 18px;
    margin-top: 10px;
}

.head-tag{
              float: right;
              margin-top: 50px;
              margin-right: 55px;
}


.head-tag a{

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     text-decoration: none;
     color: cornsilk;
     border: 1px solid white;
     padding: 8px;
     margin-right: 10px;

}

.head-tag a:hover{

    background-color: teal;
    color:yellow;
    transition: 0.3s ease-in-out;

    
}

.sidebar{

    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(250, 249, 249);
    padding: 90px;

}

/* .sidebar h3{
    list-style: square;
    margin-bottom: 5px;
} */

